<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaoshen.wangfeng.my_application_guoyan">

    <application
        android:name=".ZiDingYi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Xxkc" />
        <activity android:name=".Kcxx" />
        <activity android:name=".Xxkc_bh" />
        <activity android:name=".Kcxx_chaxun" />
        <activity android:name=".Xsxx" />
        <activity android:name=".Xsxx_jieguo" />
        <activity android:name=".Bz" />
        <activity android:name=".Kcxx_list" />
        <activity android:name=".ZiDingyi_getApplicationContext" />
    </application>

</manifest>